Makefile
Algolab
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
_deps/
compile_commands.json
.cache
Minesweeper
minesweeper
tests/tests
Testing
build
CTestTestfile.cmake
DartConfiguration.tcl
make.gcov.json.gz
*.cmake
*.a
*.o
*.gcov
coverage
